extends layout
block body
    h2  Color Management
    ul
        each color in colors
            li
                small
                    label Name: 
                    span= color.color
                    br
                    label Hex: 
                    span= color.hex
                    span  - 
                    label RGB: 
                    span= color.rgb
                    br
    hr
    <a href="/color/add"><button>Add New Color</button></a>
    head
        style
            include ../layouts/leftarea.css
