extends layout
block body
    <form name= "confirm" action="/confirm" method="POST">
        <body id="alert" onload="confirmMsg()">
        input(type="hidden" name="confirmed" id="confirmed")
        input(type="hidden" name="function" id="function" value=confirmedFunction)
        input(type="hidden" name="params" id="params" value=functionParams)
        input(type="hidden" name="msg" id="msg" value=confirmText)
    </form>
block scripts
    script(src="/../scripts/confirmMsg.js") 