extends layout
block body
    h2 New post
    <form action="/post/edit" method="POST">
    label(for="title") Title:
    br
    input(type="text" name="title" id="title" placeholder="Post Title" size="50" required value=post.title)
    br
    label(for="post") Post:
    br
    textarea(name="post" id="post" cols="53" rows="15" placeholder="Enter text" required)
        |#{post.content}
    input(type="hidden" name="postid" value=post.id)
    hr
    button(type="submit" class="btn") Save
    </form>
    head
        style
            include ../layouts/leftarea.css