html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PostIt
        style
            include ../layouts/main.css
    body
        header
            <a href="/"><button>Home</button></a>
            if user
                <a href="/post"><button>Posts</button></a>
                <a href="/color"><button>Colors</button></a>
                <a href="/logout"><button>Logout</button></a>
            else 
                <a href="/login"><button>Login</button></a>
        <div id='body'>
            if err
                <div id='errors'>
                        ul
                            each error in err
                                p 
                                    small= error.msg
                </div>
        <div id='area'>
           block body
        </div>
        </div>
        footer <p>&copy;OSG1982</p>
        block scripts
