extends layout
block body
    <form action="login" method="POST">
    h2 Sign In
    label(for="email") Email:
    br
    input(type="email" name="email" id="email" placeholder="user@mail.com" size="50" required)
    br 
    label(for="password") Password:
    br
    input(type="password" name="password" id="password" placeholder="Password" size="50" required)
    br
    hr
    button(type="submit" class="btn") SIGN IN
    </form>
    h3 Not user yet? Creat account
    <a href="/subscribe"><button>Creat account</button></a>
    head
        style
            include ../layouts/leftarea.css