extends layout
block body
    h2 New post
    <form name="addpost" action="add" method="POST">
    label(for="title") Title:
    br
    input(type="text" name="title" id="title" placeholder="Post Title" size="50" required)
    br
    label(for="post") Post:
    br
    textarea(name="post" id="post" cols="53" rows="13" placeholder="Enter text" required)
    p
    select(name="color" id="color")
        option(disabled selected value=0) Select Color
        each color in colors 
            option= color.color
    hr
    </form>
    button(type="submit" class="btn" onclick="checkColor()") Post It
    head
        style
            include ../layouts/leftarea.css
block scripts
    script(src="/../scripts/postScripts.js")