extends layout
block body
    h2 New post
        ul
            each post in posts
                li
                    small
                        label Post: 
                        spam= post.title
    hr
    <a href="/post/add"><button>Create Post</button></a>
    head
        style
            include ../layouts/leftarea.css